@tailwind base;
@tailwind components;
@tailwind utilities;

@import "mixins";
@import "components/sheet-display";

.sce-editor--song {
  .ProseMirror {
    p {
      margin-bottom: 1em;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.sce-editor--chords {
  .ProseMirror {
    @include chords;
  }
}

.song-content {
  p {
    margin-bottom: 1em;
  }

  > *:last-child {
    margin-bottom: 0;
  }
  &--chords {
    @include chords;
  }

  &:not(&--chords) {
    counter-reset: song;
    & > p {
      position: relative;
      counter-increment: song;

      &:before {
        @apply s-sb-text-gray-400 s-sb-font-accent s-sb-pr-1.5 s-sb-text-xs s-sb-absolute s-sb-top-0 s-sb-left-0 -s-sb-translate-x-full s-sb-leading-5;

        content: counter(song);
      }
    }
  }
}
