<template>
  <div class="date-collection-input">
    <div class="sautor-list mb-3" v-if="content.length > 0">
      <div class="sautor-list__item" v-for="(date, idx) in content" :key="date">
        <div class="sautor-list__item__logo">
          <span class="sautor-list__item__logo__icon sautor-list__item__logo__icon--strong">
            <span class="fas fa-calendar"></span>
          </span>
        </div>
        <div class="sautor-list__item__data">
          <p class="sautor-list__item__name">
            {{ mf(date, 'LLLL') }}
          </p>
        </div>
        <div class="sautor-list__item__actions">
          <button type="button" @click.prevent="remove(idx)">
            <span class="far fa-trash"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="control">
      <input type="datetime-local" class="input input--small flex-1" v-model="input" @keydown.enter.prevent="add" />
        <button class="button button--icon  button--small" type="button" @click.prevent="add">
          <span class="far fa-fw fa-plus"></span>
        </button>
    </div>

    <input type="hidden" :name="name" :value="JSON.stringify(content)">
  </div>
</template>

<script>
  import formatters from '../../../../core/resources/js/mixins/formatters'

  export default {
    name: 'DateCollectionInput',
    mixins: [formatters],
    props: {
      name: String,
      value: String
    },
    data () {
      return {
        content: [],
        input: ''
      }
    },
    methods: {
      loadValue () {
        if (this.value !== JSON.stringify(this.content)) {
          this.content = JSON.parse(this.value)
          console.log(this.content)
        }
      },
      remove (idx) {
        this.content.splice(idx, 1)
      },
      add () {
        if (this.input === '') return
        this.content.push(this.input)
        console.log(this.content)

        this.input = ''
      }
    },
    mounted () {
      this.loadValue()
    }
  }
</script>
