<template>
  <div class="sb-sheet-editor">
    <div class="s-sb-grid s-sb-grid-cols-1 md:s-sb-grid-cols-2 s-sb-gap-8">
      <div>

        <draggable v-model="content" class="sb-sheet-editor__container">
          <sheet-item
              v-for="(item, idx) in content"
              :key="item.type === 'song' ? `song-${item.id}` : idx"
              :songs="songs"
              v-model="content[idx]"
              @remove="remove(idx)"
              @open-song="openSongModal"
          />
        </draggable>
      </div>
      <div>
        <h6 class="title title--xs s-sb-mb-2">Adicionar…</h6>

        <div class="s-sb-text-sm s-sb-font-accent s-sb-text-center s-sb-text-gray-500 s-sb-border-b s-sb-border-gray-300">
          <ul class="s-sb-flex -s-sb-mb-px s-sb-gap-2">
            <li>
              <a href="#" :class="['s-sb-inline-block s-sb-px-4 s-sb-py-2.5', openTab === 'SONGS' ? 's-sb-text-primary-600 s-sb-border-b-2 s-sb-border-primary-600' : 's-sb-border-b-2 s-sb-border-transparent hover:s-sb-text-gray-600 hover:s-sb-border-gray-300']" @click.prevent="openTab = 'SONGS'">
                Cânticos
              </a>
            </li>
            <li class="mr-2">
              <a href="#" :class="['s-sb-inline-block s-sb-px-4 s-sb-py-2.5', openTab === 'OTHERS' ? 's-sb-text-primary-600 s-sb-border-b-2 s-sb-border-primary-600' : 's-sb-border-b-2 s-sb-border-transparent hover:s-sb-text-gray-600 hover:s-sb-border-gray-300']" @click.prevent="openTab = 'OTHERS'">
                Outros
              </a>
            </li>

          </ul>
        </div>

        <div v-if="openTab === 'SONGS'">
          <div class="control s-sb-my-3">
            <input type="search" class="input s-sb-flex-1 s-sb-w-auto" placeholder="Procurar…" v-model="searchTerm" @keydown.enter.prevent="fetchSongs()" />
            <button class="button" type="button" @click="fetchSongs()">
              <span class="far fa-search"></span>
              Procurar
            </button>
          </div>

          <div class="sautor-list songs-list" v-if="songsResponse">
            <div class="sautor-list__item" v-for="song in songsResponse.data" :key="song.id">
              <div class="sautor-list__item__logo">
              <span class="sautor-list__item__logo__icon sautor-list__item__logo__icon--strong">
                <span class="fas fa-music-alt"></span>
              </span>
              </div>
              <div class="sautor-list__item__data">
                <p class="sautor-list__item__name">
                  {{ song.title }}
                  <span class="badge badge-secondary" v-for="tag in song.tags" :key="tag.id">
                  {{ tag.name }}
                </span>
                </p>
                <p class="sautor-list__item__meta" v-if="song.by">
                  {{ song.by }}
                </p>
              </div>
              <div class="sautor-list__item__actions">
                <button type="button" @click.prevent="openSongModal(song.id)"><span class="far fa-info-circle"></span></button>
                <button type="button" @click.prevent="addSong(song.id)"><span class="far fa-plus"></span></button>
              </div>
            </div>
          </div>

          <nav role="navigation" class="s-sb-flex s-sb-justify-between s-sb-mt-3" v-if="songsResponse">
            <button type="button" :class="[songsResponse.prev_page_url ? 'relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150' : 'relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 cursor-default leading-5 rounded-md']" @click.prevent="fetchSongs(songsResponse.prev_page_url)">
              Anterior
            </button>
            <button  type="button" :class="[songsResponse.next_page_url ? 'relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150' : 'relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 cursor-default leading-5 rounded-md']" @click.prevent="fetchSongs(songsResponse.next_page_url)">
              Seguinte
            </button>
          </nav>
        </div>

        <div v-else-if="openTab === 'OTHERS'">
          <div class="sautor-list s-sb-mt-3">

            <div class="sautor-list__item">
              <div class="sautor-list__item__logo">
                  <span class="sautor-list__item__logo__icon sautor-list__item__logo__icon--strong">
                    <span class="fas fa-heading"></span>
                  </span>
              </div>
              <div class="sautor-list__item__data">
                <p class="sautor-list__item__name">Cabeçalho</p>
              </div>
              <div class="sautor-list__item__actions">
                <button type="button" @click.prevent="addHeading"><span class="far fa-plus"></span></button>
              </div>
            </div>

            <div class="sautor-list__item">
              <div class="sautor-list__item__logo">
                  <span class="sautor-list__item__logo__icon sautor-list__item__logo__icon--strong">
                    <span class="fas fa-users"></span>
                  </span>
              </div>
              <div class="sautor-list__item__data">
                <p class="sautor-list__item__name">Lista de grupos</p>
              </div>
              <div class="sautor-list__item__actions">
                <button type="button" @click.prevent="addGroups"><span class="far fa-plus"></span></button>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

    <modal id="songDetail" :class="{'modal--lg' : openSong && openSong.chords }" with-close>

      <div v-if="openSong" class="modal__body">
        <h3 class="modal__title">
          {{ openSong.title}}
        </h3>

        <div class="s-sb-grid s-sb-grid-cols-1 s-sb-gap-8" :class="{'md:s-sb-grid-cols-2': openSong.chords}">
          <div>
            <h5 class="title title--xs">Letra</h5>
            <div class="song-content" v-html="openSong.lyrics"></div>
          </div>
          <div v-if="openSong.chords">
            <h5 class="title title--xs">Acordes</h5>
            <div class="song-content song-content--chords" v-html="openSong.chords"></div>
          </div>
        </div>

      </div>

    </modal>

    <input type="hidden" :name="name" :value="JSON.stringify(content)">
  </div>
</template>

<script>
  import draggable from 'vuedraggable'
  import SheetItem from './SheetItem.vue'

  export default {
    name: 'sb-sheet-editor',
    components: {
      draggable,
      SheetItem
    },
    props: {
      name: String,
      value: String
    },
    data () {
      return {
        content: [],
        songs: {},
        songsResponse: null,
        searchTerm: '',
        openSongId: null,
        openTab: 'SONGS'
      }
    },
    methods: {
      fetchSongs (url) {
        const hasSearchTerm = this.searchTerm.trim() !== ''
        if (!hasSearchTerm) return
        let requestUrl = url
        if (!url) {
          requestUrl = `/api/canticos/canticos?size=8&query=${encodeURIComponent(this.searchTerm)}`
        }
        return this.$http.get(requestUrl)
          .then(response => {
            this.songsResponse = response.data
            response.data.data.forEach(s => { this.$set(this.songs, s.id, s) })
          })
      },
      fetchSong (id) {
        this.$http.get(`/api/canticos/canticos/${id}`)
          .then(response => {
            this.$set(this.songs, id, response.data)
          })
      },
      addSong (id) {
        this.content.push({
          type: 'song',
          id
        })
      },
      addHeading () {
        this.content.push({
          type: 'heading',
          content: '',
          level: 2
        })
      },
      addGroups () {
        this.content.push({
          type: 'groups',
          ids: []
        })
      },
      loadValue () {
        if (this.value !== JSON.stringify(this.content)) {
          this.content = JSON.parse(this.value)
        }
      },
      remove (idx) {
        this.content.splice(idx, 1)
      },
      openSongModal (id) {
        this.openSongId = id
        this.$root.openModal('songDetail')
      }
    },
    computed: {
      openSong () {
        if (!this.openSongId) return
        return this.songs[this.openSongId]
      }
    },
    mounted () {
      this.loadValue()
      const songs = this.content.filter(c => c.type === 'song')
      songs.forEach(s => {
        if (!this.songs[s.id]) this.fetchSong(s.id)
      })
    }
  }
</script>

<style lang="scss">
.sb-sheet-editor {
  &__container {
    @apply s-sb-rounded-lg;
    background-color: white;
    padding: .5rem;
  }

  .sheet-item {
    margin-bottom: .5rem;
  }
}
</style>
