<template>
  <article class="sheet-item">
    <header class="sheet-item__header">
      <div class="sheet-item__icon">
        <span class="fas fa-fw" :class="{'fa-music-alt': isSong, 'fa-heading': isHeading, 'fa-users': isGroups}"></span>
      </div>
      <p class="sheet-item__label" v-if="label">
        {{ label }}
      </p>
      <p class="sheet-item__label text-muted" v-else>
        (sem nome)
      </p>

      <small class="sheet-item__type">
        <template v-if="isSong">Cântico</template>
        <template v-else-if="isHeading">Cabeçalho</template>
        <template v-else-if="isGroups">Grupos</template>
        <template v-else>Desconhecido</template>
      </small>
      <button class="button button--icon s-sb-ml-3" type="button" @click="toggleOpen">
        <span class="fas fa-caret-down fa-fw"></span>
      </button>
    </header>
    <div class="sheet-item__body" v-if="isOpen">

      <template v-if="isSong">
        <div class="field">
          <label class="label">Etiqueta</label>
          <div class="control">
            <input type="text" class="input" :value="value.label" @input="onChange('label', $event.target.value)">
          </div>
        </div>

        <div class="field" v-if="songParagraphs">
          <label class="label">Ocultar secções</label>
          <div class="control s-sb-flex-wrap s-sb-gap-3">
            <div class="checkbox" v-for="n in songParagraphs" :key="n">
              <div class="checkbox__input">
                <input type="checkbox" :id="`hide-input-${n}`" v-model="hide" :value="n" />
              </div>
              <div class="checkbox__label">
                <label :for="`hide-input-${n}`">{{ n }}</label>
              </div>
            </div>
          </div>
        </div>
      </template>

      <template v-if="isHeading">
        <div class="field">
          <label class="label">Conteúdo</label>
          <div class="control">
            <input type="text" class="input" :value="value.content" @input="onChange('content', $event.target.value)">
          </div>
        </div>

        <div class="field">
          <label class="label">Nível</label>

          <div class="control s-sb-flex-wrap s-sb-gap-3">
            <div class="radio" v-for="n in 5" :key="n">
              <div class="radio__input">
                <input type="radio" :id="`level-input-${n+1}`" name="level-input" v-model="level" :value="n+1" />
              </div>
              <div class="radio__label">
                <label :for="`level-input-${n+1}`">{{ n+1 }}</label>
              </div>
            </div>
          </div>
        </div>
      </template>

      <div class="field" v-if="isGroups">
        <div class="label">Grupos</div>
        <div class="control">
          <grupo-picker class="s-sb-flex-1" name="grupos" visiveis multiple :value="value.ids" @input="onChange('ids', $event)" />
        </div>
      </div>

      <div class="s-sb-flex s-sb-items-center s-sb-justify-between s-sb-mt-4">
          <button class="button button--small button--danger-light" type="button" @click="remove">Remover</button>
          <button v-if="isSong" class="button button--small" type="button" @click="$emit('open-song', value.id)">
            <span class="far fa-info-circle"></span>
            Detalhes
          </button>
      </div>

    </div>
  </article>
</template>

<script>
  export default {
    name: 'sheet-item',
    props: {
      value: Object,
      songs: Object
    },
    data () {
      return {
        isOpen: false
      }
    },
    computed: {
      isSong () {
        return this.value.type === 'song'
      },
      song () {
        if (this.isSong) {
          return this.songs[this.value.id]
        }
        return undefined
      },
      songParagraphs () {
        if (this.isSong) {
          const SONG_REGEX = /(<p>.*?<\/p>)/gi
          const matches = this.song.lyrics.match(SONG_REGEX)
          return matches.length
        }
        return undefined
      },
      isHeading () {
        return this.value.type === 'heading'
      },
      isGroups () {
        return this.value.type === 'groups'
      },
      label () {
        if (this.isSong && this.song) {
          return this.song.title
        }
        if (this.isHeading && this.value.content.trim() !== '') {
          return this.value.content
        }
        if (this.isGroups) {
          return 'Lista de grupos'
        }
        return undefined
      },
      hide: {
        get() {
          return this.value.hide
        },
        set(hide) {
          this.onChange('hide', hide)
        }
      },
      level: {
        get() {
          return this.value.level
        },
        set(level) {
          this.onChange('level', level)
        }
      }
    },
    methods: {
      toggleOpen () {
        this.isOpen = !this.isOpen
      },
      onChange (field, value) {
        const newValue = {
          ...this.value,
          [field]: value
        }
        this.$emit('input', newValue)
      },
      remove () {
        this.$emit('remove')
      }
    }
  }
</script>

<style lang="scss">
  .sheet-item {

    &__icon {
      @apply s-sb-text-gray-500 s-sb-mr-3;
    }

    &__header {
      @apply s-sb-bg-gray-100 s-sb-pl-3 s-sb-rounded s-sb-shadow s-sb-flex s-sb-items-center s-sb-cursor-grab;

    }

    &__label {
      @apply -s-sb-m-0 s-sb-flex-1 s-sb-leading-none s-sb-font-bold;
    }

    &__type {
      @apply s-sb-text-sm s-sb-text-gray-500 s-sb-font-accent;
    }

    &__body {
      @apply s-sb-p-4;
      // padding: $card-spacer-y $card-spacer-x;
    }
  }
</style>
