.sb-sheet-display {

  &__header {
    @apply s-sb-text-center s-sb-mb-12;

    > :last-child {
      @apply s-sb-mb-0;
    }
  }

  &__title{
    @apply s-sb-text-center s-sb-mb-12;

    &:after {
      content: '';
      @apply s-sb-mx-auto s-sb-mt-3 s-sb-block s-sb-w-20 s-sb-h-1 s-sb-bg-primary-500 s-sb-rounded-full;
    }
  }

  &__footer {
    @apply s-sb-text-center s-sb-mt-12;
  }

  &__item {
    &:not(:last-child) {
      @apply s-sb-mb-10;
    }

    > *:last-child {
      @apply s-sb-mb-0;
    }

    &__header {
      @apply s-sb-mb-4;

      small {
        @apply s-sb-text-xs s-sb-text-gray-400 s-sb-tracking-widest s-sb-uppercase s-sb-font-accent;
      }

      em {
        @apply s-sb-text-gray-500 s-sb-text-sm;
      }
    }
  }

  &__header &__item--heading {
    @apply s-sb-mb-0;

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: .5em;
    }
  }

  &__item--groups {
    @apply s-sb-flex s-sb-items-center s-sb-justify-center s-sb-flex-wrap s-sb-m-2;

    &:not(:last-child) {
      @apply s-sb-mb-6;
    }

  }

  &__group {
    @apply s-sb-aspect-square s-sb-w-12 sm:s-sb-w-16 s-sb-m-2;

    img {
      @apply s-sb-w-full s-sb-h-full;
    }

    @apply s-sb-font-headline s-sb-text-gray-700;
  }

  &__song, &__chords {
    p {
      @apply s-sb-mb-4;
    }

    > *:last-child {
      @apply s-sb-mb-0;
    }
  }

  &__chords {
    @include chords;
  }

  @media screen {
    &__content {
      @apply s-sb-max-w-prose s-sb-mx-auto;
    }
  }

  @media print {
    &__content {
      @apply s-sb-columns-2;
    }

    &__item {
      @apply s-sb-break-inside-avoid-page;
    }
  }
}
